.Select {

    font-family: 'Junction';

    .Select-control {

        background: $button-colour;
        border-color: $button-border;

        .Select-value {
        	
            text-align: center;

            .Select-value-label {
            	color: $font-colour !important;
        	}
        }
        
        .Select-menu-outer {
            text-align: center;
        }
    }
}