$container-dimension: 320px;

$button-size: 51px;

.outer-padding {
    padding: 12px 21px;
}

.modal {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    background: $modal-background;
    transition: top 300ms ease-out;

    &.animate {
        transition: top 0ms ease-out;
        top: -100%;
    }
}

#umbrella {
    
}

#ui-animation {

    position: absolute;
    top: 0;
    left: 0;
    width: $container-dimension;
    color: $font-colour;
    background: $background;

    .button-layout {
        background: $button-colour;
        border: 1px solid $button-border;
        border-radius: 32px;
        color: $font-colour;
        padding: 0 ( $button-size / 3 );
        box-sizing: border-box;
        text-align: center;
    }

    button {

        @extend .button-layout;

        width: $button-size;
        height: $button-size;

        &:hover {
            cursor: pointer;
        }
    }

    input {
        width: 100%;
    }

    #cycle {

        width: 100%;

        .control-panel {

            position: relative;

            .button-panel {

                display: table;
                width: 100%;
                box-sizing: border-box;
                @extend .outer-padding;
                overflow: hidden;

                & > * {

                    @extend .button-layout;

                    display: table-cell;
                    vertical-align: middle;
                    height: $button-size;
                    width: 33.333333%;

                    &:nth-child(1) {
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        border-right: none;
                    }
                    &:nth-child(2) {
                        border-radius: 0;
                        border-right: none;
                        .Select-control {
                            border-radius: 0;
                            border-right: none;
                        }
                    }
                    &:nth-child(3) {
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                    }
                }
            }
        }
        
        .controls {

            @extend .outer-padding;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            & > button {
                &:nth-child(1) {
                    float: left;
                }
                &:nth-child(2) {
                    float: right;
                }
            }

            &.grouped {
                & > div {
                    &:nth-child(1) {
                        float: left;
                    }
                    &:nth-child(2) {
                        float: right;
                    }
                    & > button {
                        &:nth-child(1) {
                            border-bottom-right-radius: 0;
                            border-top-right-radius: 0;
                            border-right: none;
                        }
                        &:nth-child(2) {
                            border-bottom-left-radius: 0;
                            border-top-left-radius: 0;
                        }
                         i {
                            &.fa-play {
                                color: #5DFFEA;
                            }
                            &.fa-stop {
                                color: #FF3300;
                            }                    
                        }
                    }
                }
            }
        }

        .frame-controls {

            font-family: 'Junction';
            display: table;
            @extend .outer-padding;
            padding-top: 0;
            width: 100%;
            box-sizing: border-box;

            & > div {
                display: table-cell;
                width: 50%;
                font-size: 24px;
                padding: 0;
                margin: 0;
                padding-top: 12px;

                &:nth-child(1) {
                    text-align: left;
                }
                &:nth-child(2) {
                    text-align: right;
                }
            }
        }
        

        #ui-lights {

            position: relative;

            & > p {
                font-family: 'Junction';
                text-align: center;
                position: absolute;
                left: 128px;
                z-index: 2;
                top: 55px;
                font-size: 61px;
                width: 70px;
                text-align: center;
            }
            
            & > div {

                &.lights-controls {

                    display: table;
                    @extend .outer-padding;
                    width: 100%;
                    box-sizing: border-box;
                    table-layout: fixed;

                    button {
                        display: table-cell;
                        margin: 9px;
                        font-size: 27px;
                        line-height: 18px;
                        text-align: center;
                        vertical-align: middle;
                        padding: 0;
                    }
                }

                &.lights, &.lights-shadow {

                    $dial-dimension: 280px;
                    $dial-colour: #f2f2f2;
                    $dial-item-size: 32px;

                    position: relative;
                    margin: 0 auto;
                    width:  $dial-dimension;
                    height: $dial-dimension;
                    transform: rotateZ(0);
                    transition: all 300ms ease-out;
                    border-radius: 50%;
                    background: $button-colour;
                    border: 1px solid $button-border;
                    box-sizing: border-box;
                    overflow: hidden;
                    box-shadow: 0px 0px 0px 6px #171717;
                    transition: all 400ms;
                    transform: scale(1);

                    &.animate {
                        transition: all 0ms;
                    }

                    & > div {

                        position: absolute;
                        width: $dial-item-size;
                        height: $dial-item-size;
                        color: $dial-colour;

                        &:hover {
                            cursor: pointer;
                        }


                        & > a {

                            position: relative;
                            font-size: 62px;
                            width: $dial-item-size;
                            height: $dial-item-size;
                            vertical-align: middle;
                            text-align: center;
                            line-height: $dial-item-size;

                            &:before {
                                content: "\25e6";
                            }

                            &.active {
                                &:before {
                                    content: "\2022";
                                }
                            }

                            &.indicator {
                                z-index: 1;
                            }

                            &.select-animation {
                                position: absolute;
                                font-size: 59px;
                                z-index: 2;
                                opacity: 1;
                                transition: all 400ms;
                                transform: scale(1);
                                left: 0;
                                top: 0;
                                display: none;

                                &.show {
                                    display: inline-block;
                                }

                                &.animate {
                                    opacity: 0;
                                    transform: scale(3);
                                }
                            }

                            &.expander {

                            }
                        }
                    }
                }

                &.lights {

                    opacity: 1;

                    &.animate {
                        transform: scale(.5);
                    }
                }

                &.lights-shadow {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &.set-colour {
                    input {
                        width:50%;
                    }
                    span {
                        width: 25%;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}