.drop-down-menu {

	position: relative;

	& > .selected {

		position: relative;

		& > .value {

		}
		& > .claret {

		}
	}

	& > .options {

		position: absolute;

		& > .option {
			background: red;
		}
	}
}