$border-colour: #9a9a9a;
$font-colour: #fff;

$container-dimension: 445px;

#ui-animation {

    position: absolute;
    top: 0;
    left: 0;
    width: $container-dimension;
    border: 1px solid $border-colour;
    color: $font-colour;

    button, input, span {
        background: transparent;
        border: 1px solid $border-colour;
        color: $font-colour;
        padding: 10px;
        box-sizing: border-box;
        width: 33.3333%;
    }

    button {
        &:hover {
            cursor: pointer;
        }
    }

    input {
        width: 100%;
    }

    #cycle {

        width: 100%;

        .led-position {
            input {
                width: 66.666666%;
            }
            span {
                width: 16.666666665%;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #ui-lights {

        position: relative;
        
        & > div {

            &.controls {
                button, input {
                    width: 50%;
                }
            }

            &.lights, &.lights-shadow {

                position: relative;
                width:  $container-dimension;
                height: $container-dimension;
                transform: rotateZ(0);
                transition: all 300ms ease-out;

                & > div {

                    position: absolute;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: left;

                    &:hover {
                        cursor: pointer;
                    }


                    & > a {

                        position: absolute;
                        font-size: 62px;
                        width: 32px;
                        height: 32px;
                        vertical-align: middle;
                        text-align: center;

                        &:before {
                            content: "\25e6";
                        }

                        &.active {
                            &:before {
                                content: "\2022";
                            }
                        }

                        &.indicator {
                            z-index: 1;
                        }

                        &.select-animation {
                            font-size: 59px;
                            z-index: 2;
                            opacity: 1;
                            transition: all 400ms;
                            transform: scale(1);
                            left: 0;
                            top: 0;
                            display: none;

                            &.show {
                                display: inline-block;
                            }

                            &.animate {
                                opacity: 0;
                                transform: scale(2);
                            }
                        }

                        &.expander {

                        }
                    }
                }
            }

            &.lights-shadow {
                position: absolute;
                top: 0;
                left: 0;
            }

            &.set-colour {
                input {
                    width:50%;
                }
                span {
                    width: 25%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
